@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --font-sans: 'Work Sans', system-ui, sans-serif;
}

.hero{
    background: url('hero2.webp') no-repeat;
    background-size: cover;
}


/* ✅ Must come LAST */
@plugin "./daisyui.js";
