@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --font-sans: 'Work Sans', system-ui, sans-serif;
}

/* ::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.3s;
} */

@keyframes fade-in {
  from{
    opacity: 0;
  }
}

@keyframes fade-out {
  to{
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from{
    transform: translateX(40px);
  }
}

@keyframes slide-to-left {
  to{
    transform: translateX(-30px);
  }
}

/* Global Fancy */
::view-transition-old(root) {
animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
 300ms cubic-Bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-in,
 300ms cubic-Bezier(0.4, 0, 0.2, 1) both slide-from-right;
}


.hero{
    background: url('hero2.webp') no-repeat;
    background-size: cover;
}




/* ✅ Must come LAST */
@plugin "./daisyui.js";
